/* 
Default style for qwnetwork bar
Author: Viktor Persson, Arcsin (http://arcsin.se/)
*/

/* QWnetwork */
#qwnetwork {
	border-bottom: 1px solid #222;
	padding: 4px 5px;
	background: #444;
	color: #FFE;
	font: normal 12px Verdana,sans-serif;
}
#qwnetwork :focus {
	outline: 0;
}
#qwnet_content {width: 950px; margin: 0 auto;}
#qwnetwork a {
	float: left;
	width: 43px;
	height: 13px;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-position: left top;
}
#qwnetwork a:hover, #qwnetwork a.qwnet_current {background-position: left bottom;}

#qwnetwork .qwnet_separator {float: left; width: 36px;}

#qwnet_qwdrama {background-image: url('icons/qwdrama.gif');}
#qwnet_gfx {background-image: url('icons/gfx.gif');}
#qwnet_wiki {background-image: url('icons/wiki.gif');}
#qwnet_schedule {background-image: url('icons/schedule.gif');}
#qwnet_goldrush {background-image: url('icons/goldrush.gif');}

#qwnet_qwnu {background-image: url('icons/qwnu.gif');}
#qwnet_forums {background-image: url('icons/forums.gif');}
#qwnet_tricks {background-image: url('icons/tricks.gif');}

#qwnet_nqr {background-image: url('icons/nqr.gif');}
#qwnet_ezquake {background-image: url('icons/ezquake.gif');}
#qwnet_chtv {background-image: url('icons/chtv.gif');}
#qwnet_qnc {background-image: url('icons/qnc.gif');}
#qwnet_quakeservers {background-image: url('icons/quakeservers.gif');}
#qwnet_lgc {background-image: url('icons/lgc.gif');}
#qwnet_qtv {background-image: url('icons/qtv.gif');}
#qwnet_nquake {background-image: url('icons/nquake.gif');}
#qwnet_nqr_ctf {background-image: url('icons/nqr_ctf.gif');}
#qwnet_ladder {background-image: url('icons/ladder.gif');}
#qwnet_eql7 {background-image: url('icons/eql7.gif');}

#qwnet_clearer {
	clear: both;
	display: block;
	line-height: 0;
	font-size: 0;
}